<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Suite">
	<test name="Tic Tac Toe Test">
		<packages>
			<package name="com.egtinteractive.machinetest" />
			<package name="com.egtinteractive.gametest" />
			<package name="com.egtinteractive.aitest" />
		</packages>
	</test>
</suite>